<div class="rating">
  <p>Rate me!</p>
  <div class="hearts">
    <div class="heart"></div>
    <div class="heart"></div>
    <div class="heart"></div>
    <div class="heart"></div>
    <div class="heart"></div>
  </div>
</div>