


     <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Login</h3>
                    <div class="box">
                        
                        <form action="/login" method="post">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" placeholder="Email" autofocus=""  name="email" id="emial">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Contraseña" name="password" id="password">
                                </div>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
                            </div>
                              <input class="button is-block is-info is-large is-fullwidth" type="submit" value="Inicia Session">
                        </form>
                    </div>
        <p>No tienes cuenta? Registrate gratis <a href="/signup">aqui!</a></p>
                    
                </div>
            </div>
        </div>
    </section>


            

                

                

