<h1>Sign Up</h1>

<form action="/signup" method="post">

<p>
  <label for="username">Nombre de Usuario</label>
  <input type="text" name="username" id="username"  >
</p>

<p>
  <label for="email">Correo electronico</label>
  <input type="email" name="email" id="emial">
</p>

<p>
  <label for="password">Contrasena</label>
  <input type="password" name="password" id="password">
</p>




<!--
<div id="mexausuario">
  <br>
  <br>
  <p>
    <label for="nombreGrupal">Nombre de banda/grupo musical</label>
    <input type="text" name="nombreGrupal" id="nombreGrupal">
  </p>

  <p>
    <label for="generoMusical">Genero Musical</label>
  <select name="generoMusical">
    <option value="pop">pop</option>
    <option value="rock">rock</option>
    <option value="classic">classic</option>
    <option value="mariachi">mariachi</option>
    <option value="otro">otro</option>
  </select>  
  </p>

  <p>
    <label for="precio">Precio por hora ($MX)</label>
    <input type="text" name="precio" id="precio">
  </p>
</div>

-->

<input type="submit" value="Crear cuenta">

</form>