
        <section class="hero is-info is-fullheight">
                <div class="hero-head">
                    <nav class="navbar">
                        <div class="container">
                            <div class="navbar-brand">
                                
                                <span class="navbar-burger burger" data-target="navbarMenu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </div>
                            <div id="navbarMenu" class="navbar-menu">
                                <div class="navbar-end">
                                   
                                </div>
                            </div>
                        </div>
                    </nav>
                    </div>
                                <img src="https://i.imgur.com/cfhzN0a.png"  class="column is-6 is-offset-3" alt="MEXA-PARTY LOGO">
        
                    <div class="hero-body">
                        
                        <div class="container has-text-centered">
                            <div class="column is-6 is-offset-3">
                                <h1 class="title">
                                    Tenemos a los socios indicados para tu fiesta.
                                </h1>
                                <h2 class="subtitle">
                                    Registrate y contrata a los mejores grupos musicales para tu fiesta.
                                    
                                </h2>
                                <h3>
                                        ¡Vamos a Bailar!
                                </h3>
                                <div class="box">
                                    <div class="field ">
                                       
                                        <p class="control ">
                                            <a class="button is-hovered is-large is-fullwidth" href="/login">
                                                 Clik aqui para contratar
                                            </a>
                                        </p>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
        
            </section>

            <br>
            <br>
            <br>
            <br>

                 <div class="container">
        <div id="flow">
            <span class="flow-1"></span>
            <span class="flow-2"></span>
            <span class="flow-3"></span>
        </div>
        <div class="section">
           
            <!--inicio card-->
            <div class="row columns">
                <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img src="http://www.onblackheath.com/sites/default/files/styles/artist_single/public/The%20Mariachis%20-%20photo.jpg?itok=lk275iy4" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Mariachi</p>
                                    <p class="title is-6">Descripción</p>
                                    
                                    
                                </div>
                            </div>
                            <br>
                            <div class="content">
                                    El mariachi es un género tradicional de México. Por extensión, se conoce también como mariachi1​ a las y los músicos dedicados a este género —nombrados también como mariacheros— y a los conjuntos musicales en sus expresiones conocidas como mariachi tradicional y mariachi moderno.2​ En noviembre de 2011 la Unesco inscribió a El Mariachi, música de cuerdas, canto y trompeta como integrante de la Lista Representativa del Patrimonio Cultural Inmaterial de la Humanidad.
                                <div class="background-icon"><span class="icon-twitter"></span></div>
                            </div>

                            <div >

                                    <a class="button is-large"  href="/generos?genre=Mariachi">Contratar Mariachis</a>

                            </div>
                        </div>
                    </div>
                </div>
                

                <!--inicio card-->
                <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img src="https://mitofago.com.mx/sites/default/files/styles/1200x630/public/los-tigres-del-norte.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Norteño</p>
                                    
                                    <p class="title is-6">Descripción</p>
                                    

                                </div>
                            </div>
                            <br>
                            <div class="content">
                                La música norteña o simplemente Norteña/norteño, es un género de música mexicana relacionada con polka y corridos. El acordeón y el bajo sexto son los instrumentos más característicos de la música norteña. El género es popular tanto en México como en Estados Unidos, especialmente entre la comunidad mexicana y México-americana.
                                <div class="background-icon"><span class="icon-facebook"></span></div>
                            </div>

                            <div >

                                    <a class="button is-large"  href="/generos?genre=Norteña">Contratar Norteño</a>

                            </div>
                        </div>
                    </div>
                </div>


                <!--inicio card-->
                <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img src="https://i.ytimg.com/vi/wa0-i9TwtnA/maxresdefault.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Sonidero</p>
                                    <p class="title is-6"href="http://twitter.com/#">Descripción</p>
                                   
                                </div>
                            </div>
                            <br>
                            <div class="content">
                                    Sonidero es una fenómeno social popular originario de la Ciudad de México1​. El término tiene distintos significados y abarca al sonidero, es decir, el disc jockey y animador, propietario o no de equipos de audio, luces y video —el sonido— usado para organizar o participar en bailes públicos callejeros —bailes o también llamados eventos sonideros— en donde concurre la comunidad cultural aficionada a este fenómeno llamada movimiento sonidero.
                                <div class="background-icon"><span class="icon-barcode"></span></div>
                            </div>

                            <div >

                                    <a class="button is-large"  href="/generos?genre=Sonidero">Contratar Sonidero</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Developers -->

            <!-- Staff -->
            <div class="row columns is-multiline">
                <div class="column is-one-third">
                    <div class="card large round">
                        <div class="card-image ">
                            <figure class="image">
                                <img src="https://valenciasecreta.com/wp-content/uploads/2017/02/garitos-rockeros-valencia.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Rock</p>
                                    <p class="title is-6">Descripción</p>
                                    
                                </div>
                            </div>
                            <br>
                            <div class="content">
                                
Rock
Orígenes musicales	Jazz, blues, soul, country, rhythm and blues, rock and roll
Orígenes culturales	A partir de los años 1960 en el Reino Unido y de los años 1950 en Estados Unidos
Instrumentos comunes	bajo, batería, guitarra eléctrica, teclado, piano eléctrico
Escenas regionales
Categoría:Rock por país
[editar datos en Wikidata]
El rock es un término amplio que agrupa a una variedad de géneros de música popular.1​ Su forma originaria, conocida como rock and roll, surgió mayormente de la combinación de dos géneros anteriores como eran el rhythm and blues y el country. La música rock también se nutrió fuertemente del blues y el folk.
                            </div>

                            <div >

                                    <a class="button is-large"  href="/generos?genre=Rock">Contratar Rockers</a>

                            </div>
                        </div>
                    </div>
                </div>



                <!--inicio-->
                <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img src="https://cdn6.dibujos.net/images/listas/las-mejores-cantantes-pop-internacionales.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Pop</p>
                                    <p class="title is-6">Descripción</p>
                                    
                                </div>
                            </div>
                            <div class="content">
                                
Pop
Orígenes musicales	
Música popular traditional pop folk rock and roll jazz blues música clásica easy listening novelty song rhythm and blues swing soul
kpop
Orígenes culturales	Década de los 50s y 60s, cultura occidental,
Estados Unidos y Reino Unido


                            </div>

                            <div >

                                    <a class="button is-large"  href="/generos?genre=Pop">Contratar Poperos</a>

                            </div>
                        </div>
                    </div>
                </div>


                <!--inicio-->
                <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img src="https://www.elcomercio.com/files/article_main/uploads/2015/02/15/54e149e73b0ef.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Clasica</p>
                                    <p span class="title is-6">Descripción</p>
                                    
                                </div>
                            </div>
                            <div class="content">
                                    Clásico significa primeramente, en tradición clasicista, “digno de imitación”, perteneciente a una clase, particularmente a una clase superior respecto de otra inferior. 
                            </div>

                            <div >

                                    <a class="button is-large"  href="/generos?genre=Clasica">Contratar musica Nice!</a>

                            </div>
                        </div>
                    </div>
                </div>
               
                
               
               
                
           
        </div>
    </div>