<!--<h1>{{title}}</h1>
<p>Welcome to {{title}} by Luther and Jordy</p>
<a href="/signup">Sign Up</a> or <a href="/login">Log In</a>
<br>
<br>
<a href="/generos">Buscar generos</a>
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.1-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
   
    <title>Mexa Party</title>
</head>
<body>

<div id="barra-lateral">

    <div class="nav-text">
        <div class="inicio">
                <a class="text-decoration" href="/">Inicio</a> 
        </div>
    
        <div class="generos">
                <a class="text-decoration" href="/generos">Generos</a> 
        </div>
    
        <div class="galeria">
                <a class="text-decoration" href="/galeria">Galeria</a> 
        </div>

        <div class="ingresa">
                <a class="text-decoration" href="/login">Ingresa</a> 
        </div>

        <div class="registro">
                <a class="text-decoration" href="/signup">Registro</a> 
        </div>

        <div class="contacto">
                <a class="text-decoration" href="/contacto">Contacto</a> 
        </div>

        <div class="nosotros">
            <a class="text-decoration" href="/nosotros">Nosotros</a> 
        </div>

    </div>
    <img src="img/pianoNav.png" alt=""> 
</div>

<section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="http://bulma.io/images/bulma-type-white.png" alt="Logo">
                        </a>
                        
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            
                        </div>
                    </div>
                </div>
            </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            MEXA PARTY: La musica para tu fiesta esta aqui.
                        </h1>
                        <h2 class="subtitle">
                            Nuestros socios son los indicados para poner el ambiente en tus fiestas.
                        </h2>
                        
                        </div>
                    </div>
                </div>

            </div>

                    
                    
    </section>

    <section class="container medio">
            <div class="columns features">
              <div class="column is-4">
                <div class="card is-shady">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="img/tigres.jpg" alt="Placeholder image" class="modal-button" data-target="modal-image2">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <h4>Norteños</h4>
                      <p>La música norteña o simplemente Norteña/norteño, es un género de música mexicana relacionada con polka y corridos. El acordeón y el bajo sexto son los instrumentos más característicos de la música norteña.</p>
                      <span class="button is-link modal-button" data-target="modal-image2">Contratar</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-4">
                <div class="card is-shady">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <h4>Mariachi</h4>
                      <p>El mariachi es un género tradicional de México. Por extensión, se conoce también como mariachi1 a las y los músicos dedicados a este género —nombrados también como mariacheros</p>
                      <span class="button is-link modal-button" data-target="modal-card">Contratar</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-4 modal-button" data-target="modal-image">
                <div class="card is-shady">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="https://i.imgsafe.org/ba/baa924a5e3.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <h4>Sonidero</h4>
                      <p>Sonidero es una fenómeno social popular originario de la Ciudad de México1. El término tiene distintos significados y abarca al sonidero, es decir, el disc jockey y animador, propietario o no de equipos de audio, luces y video —el sonido— usado para organizar o participar en bailes públicos callejeros —bailes o también llamados eventos sonideros— en donde concurre la comunidad cultural aficionada a este fenómeno llamada movimiento sonidero</p>
                      <span class="button is-link modal-button" data-target="modal-image">Contratar</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns features">
              <div class="column is-4 modal-button" data-target="modal-card">
                <div class="card is-shady">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="https://i.imgsafe.org/3f/3f0c578f9d.jpeg" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <h4>Banda</h4>
                      <p>La Banda Sinaloense o Tambora Sinaloense es un tipo de ensamble musical de género musical tradicional y popular, el cual es culturalmente establecido a principios de los años veinte en el Estado de Sinaloa, región norte occidente de México.</p>
                      <span class="button is-link modal-button">Contratar</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-4">
                <div class="card is-shady">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="https://source.unsplash.com/hLyd1LukQ7E" alt="butterfly image" class="modal-button" data-target="modal-image4">
                    </figure>
                  </div>
                  <div class="card-content  modal-button" data-target="modal-card2">
                    <div class="content">
                      <h4>Salsa</h4>
                      <p>
                            Salsa bailada en Cali, Colombia.
                            La salsa es un conjunto de ritmos afrocaribeños fusionados con jazz y otros estilos. Su nacimiento ha sido muy debatido, pero se sabe que procede de una fusión que llevaron a cabo los negros en el Caribe cuando escucharon la música europea para luego mezclarla con sus tambores.</p>
                      <span class="button is-link modal-button">Contratar</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>

    
    
</body>
</html>