<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mexa Party</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>
<body>

<div id="barra-lateral">

                <div class="nav-text">
                    <div class="inicio">
                            <a class="text-decoration" href="/">Inicio</a> 
                    </div>
                
                    <div class="generos">
                            <a class="text-decoration" href="/generos">Generos</a> 
                    </div>
                
                    <div class="galeria">
                            <a class="text-decoration" href="/galeria">Galeria</a> 
                    </div>
                
                    <div class="ingresa">
                            <a class="text-decoration" href="/login">Ingresa</a> 
                    </div>
            
                    <div class="registro">
                            <a class="text-decoration" href="/signup">Registro</a> 
                    </div>
                
                    <div class="contacto">
                            <a class="text-decoration" href="/contacto">Contacto</a> 
                    </div>
            
                    <div class="nosotros">
                        <a class="text-decoration" href="/nosotros">Nosotros</a> 
                    </div>
            
                </div>
                <img src="https://i.imgur.com/ytDtupJ.png" alt=""> 
     </div>

  {{{body}}}

          
  <br>  
  <br>  
  <br>  
  <br>  
                <footer class="footer">
                    <div class="container">
                        <div class="columns">
                            <div class="column is-3 is-offset-2">
                                <h2><strong>Proyecto para</strong></h2>
                                <ul>
                                    <li><a href="https://www.ironhack.com/es/campus/mexico-city">IronHack</a></li>
                                    
                                </ul>
                            </div>
                            <div class="column is-3">
                                <h2><strong>Hecho por:</strong></h2>
                                <ul>
                                    <li><a href="https://www.facebook.com/luther.barragan">Luther</a></li>
                                    
                                </ul>
                            </div>
                            <div class="column is-4">
                                <h2><strong>En colaboración con:</strong></h2>
                                <ul>
                                    <li><a href="https://www.facebook.com/JordyAaQ">Jordy</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                   
                </footer>

</body>
</html>