<h1>GENEROS</h1>

<ul>
  <a href="#"><li>Rock</li></a>
  <a href="#"><li>Pop</li></a>
  <a href="#"><li>DJ</li></a>
  <a href="#"><li>Mariachi</li></a>
  <a href="#"><li>Clasica</li></a>
  <a href="#"><li>Nortena</li></a>
  <a href="#"><li>Electrica</li></a>
  <a href="#"><li>Rock</li></a>
</ul>